<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
     <session-factory>
		 <!--  Drop and re-create the database schema on startup --> 
	  <property name="hibernate.hbm2ddl.auto">update</property>
	    <!--  SQL dialect --> 
	  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
	  <!--  Database connection settings --> 
	  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property> 
	  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property> 
	  <property name="hibernate.connection.username">system</property> 
	  <property name="hibernate.connection.password" >1234</property>
	  <!--  JDBC connection pool (use the built-in)--> 
	  <property name="hibernate.connection.pool_size">1</property> 
	  <!--  Disable the second-level cache  --> 
	  <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.CollectionCacheInvalidator</property> 
	  <!--  Echo all executed SQL to stdout --> 
	  <property name="hibernate.show_sql">true</property> 
	  <!--  Names the annotated entity class --> 
			<mapping class="model.entity.user_data"/>
			<mapping class="model.entity.Customer"/>
	 </session-factory>
</hibernate-configuration>